.upper-bar  {
	background-color: #08256d;
	color: #FFF;
}
.upper-bar .info{
	margin: 5px 0;
}

.upper-bar span {
	color: #bfc6c9;
}
.upper-bar .get-quote {
	display: inline-block;
	border: 2px solid #ec1c23;
	padding: 2px 10px;
	margin-left: 20px;
}

/* start navbar */

.navbar-brand  span {
	font-size: 35px;
}
	.navbar-brand span:first-child {
		color: #08256d;
		font-weight: bold;
}
.navbar-brand span:last-child {
		color: #ec1c23;
		font-weight: bold;
}
.navbar-nav .nav-link:hover{
	color: #ec1c23 !important;
}
.navbar-nav .nav-link{
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 16px;
	color: #08256d;
	font-weight: bold;

}	
.navbar-nav .active > .nav-link{
	color: #ec1c23 !important;
}
/* end vanbar */

/* start slider */
.slider {
	background-color: #DDD;
	

}
.slider .carousel-inner {
	display: flex;
	align-items: center;
	justify-content: left;
}
 @media(max-width: 468px) {

	.slider .carousel-inner {
		justify-content: center;
	}
}
.slider .carousel-inner h1{
	position: absolute;
	color: #FFF;
	z-index: 3;
	font-size: 45px;
	max-width: 900px;
	line-height: 1.5;
	left: 100px;
	margin-left: 80px;


}

@media(max-width: 468px){
	.slider .carousel-inner h1{
		font-size: 40px;
		max-width: 100%;
		left: auto;
		text-align: center;
	}
}

@media(max-width: 468px){
	.slider .carousel-inner h1{
		font-size: 50px;
	}
}

.slider .carousel-inner h1 span{
	background-color: #ec1c23;
	color: #fff;
	display: inline-block;
	padding: 2px 10px;
}
.slider .carousel-inner .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .6);
	z-index: 2;
}
.slider .carousel-item {
	background-size: cover;
	background-position: center;
}
.slider .carousel-one{
	background-image: url(../img/img1.jpg);
	height: 0 auto;
}
.slider .carousel-two{
	background-image: url(../img/apart1.jpg);
}
.slider .carousel-three{
	background-image: url(../img/shop.jpg);
}
.slider .carousel-four{
	background-image: url(../img/of1.jpg);
}
.slider .carousel-indicators li {
	height: 15px;
	width: 15px;
	cursor: pointer;
}
/* end slider */


/* start features */
	.featuers{
		padding: 50px;
	}

.featuers i {
	background-color: #ed1d24;
	color: #FFF;
	padding: 10px;
	margin-bottom: 8px;

}

.featuers h3 {
	color:#08256d;
	font-size: 20px;
}

.featuers p{
	color: #989898;
	margin-bottom: 35px;
	font-size: 20px;
}
.featured-work .shuffle-imgs .row {
	margin: 0px;
}
.featured-work .shuffle-imgs .row .col-sm {
	padding: 0px;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.featured-work .row img{
	width: 100%;
}
/* end features */

/* start overview */
.overview{
	padding: 100px 0px;
	background-color: #f0f5f7;
}
.overview h2{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 25px;
}

	.overview p{
		line-height: 2;
		font-size: 20px;
		width: 80%;
		margin: 0 auto 0px;
		color: #6a6a6a;
	}
	.overview h4{
		letter-spacing: 2px;
		font-weight: normal;
		color: #8b8a8a;
		margin-bottom: 40px;
	}
	.overview button{
		background-color: #ed1d24;
		color: #fff;
		padding: 10px 20px;
		font-size: 20px;
		text-decoration: none;
	}
/* end foverview */

/* end foverview */
.featuered-work {
	padding: 100px 0;

}
.featured-work h2{
	color: #08256d;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;

}
.featured-work p{
	line-height: 1.6;
	flex-size:20px;
	width: 80%;
	margin: 0 auto 15px;
	color: #6a6a6a;
}
.featured-work ul{
	margin-top: 35px;
}
.featured-work ul li{
	color: #08256d;
	border: 2px solid #08526d;
	padding: 10px 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.featured-work ul li.active, .featured-work ul li:hover {
	background-color: #ec1c23;
	border: 2px solid #ec1c23;
	color: #fff;
}
.featured-work ul li:hover {
	cursor:pointer;
}
/* end foverview */

/* start top */
.back-top {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    z-index: 685875687;
}

.back-top:hover {
    background: rgba(255, 0, 0, .9);

}

/* end back top */

/* start pricing-table */

.pricing-table {
	background-color: #f7f7f7;
	padding: 100px 0 100px ;

} 
.pricing-table .card-body{
	padding: 0px;
}
.pricing-table h2{
	color: #08256d;
	margin-top: 15px;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 15px;

}

.pricing-table .section-description{
	line-height: 1.6;
	flex-size:20px;
	width: 80%;
	margin: 0 auto 85px;
	color: #6a6a6a;
}
.pricing-table .card{
	margin-bottom: 10px;
}
.pricing-table .card .card-title{
	font-weight: bold;
	font-size: 25px;
	line-height: 1.5;
	color: #08526d;
	margin-top: 40px;
}
.pricing-table .card .card-text{
	color: #787878;
	margin-bottom: 5px;
	margin: 20px 0;
	padding: 10px;
	background-color: #f7f7f7;
	font-size: 30px;
	font-weight: bold;
}
.pricing-table .card .card-text span{
	font-size: 15px;
	text-transform: uppercase;
}
.pricing-table .list-group-item{
	border: none;
}
.pricing-table .card .card-link{
	background-color: #ed1d24;
	font-weight: bold;
	display: inline-block;
	padding: 4px 15px;
	margin-top: 15px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;

}
.pricing-table .card.fella{
	position: relative;
	top: -10px;
}
.pricing-table .card.fella .card-text{
	background-color: #ed1d23;
	color: #fff;

}
.pricing-table .card.fella .card-link{
	background-color: #08526d;
	
}
/* end pricing-table */

/* start testimonials */

.testimonials{

	background-size: cover;
	background-position: center;
	background-image: url(../img/testimonials.png);
	position: relative;
}
.testi-title{
	margin-bottom: 50px;
	margin-top: 50px;
}

.testi-title{
		line-height: 2;
		font-size: 20px;
		width: 60%;
		margin: 0 auto 0px;
		color: #6a6a6a;
}
.testi-title h2{
	color: #08256d;
	margin-top: 15px;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 15px;
	font-weight: bold;
}

.testimonials .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .6);
}
.testimonials .container{
	position: relative;
	z-index: 3;
}
.testimonials .carousel-caption{
	top: 50%;
	margin-top: -172.5px;
}
.testimonials .carousel-caption img{
	margin: 0 auto;
	margin-bottom: 20px;
	height: 150px;
	width: 150px;
}
.testimonials .carousel-caption h3{
	margin-bottom: 5px;
}
.testimonials .carousel-caption h3 + span{
	font-size: 18px;
	display: inline-block;
	margin-bottom: 30px;
}
.testimonials .carousel-indicators li {
	height: 15px;
	width: 15px;
	cursor: pointer;
}
	/****************

	.testimonials .position-slider .carousel-control-prev-icon {
		width: 40px;
	    height: 40px;
	    background: rgba(0, 0, 0, .7);
	    color: #fff;
	    text-align: center;
	    line-height: 40px;
	    border-radius: 5px;
	    cursor: pointer;
	    position: fixed;
	    right: 30px;
	    bottom: 30px;
	    display: none;
	}
	.testimonials .position-slider .carousel-control-prev-icon:hover {
		background: rgba(255, 0, 0, .9);
	}

	.testimonials .position-slider .carousel-control-next-icon {
		width: 40px;
	    height: 40px;
	    background: rgba(0, 0, 0, .7);
	    color: #fff;
	    text-align: center;
	    line-height: 40px;
	    border-radius: 5px;
	    cursor: pointer;
	    position: fixed;
	    right: 30px;
	    bottom: 30px;
	    display: none;
	}
	.testimonials .position-slider .carousel-control-next-icon:hover {
		background: rgba(255, 0, 0, .9);
	}

	 ***************************/

/* end testimonials */

/* start service */
.services{
	margin-top: 100px;
	margin-bottom: 100px;
}
.services .serv-title{
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 50px;
	font-weight: bold;
	color: #08526d;
}
.services h2 {
	margin-top: 15px;
	font-weight: bold;
	margin-bottom: 15px;
}
.btn-primary {
    color: #fff;
    background-color: #ed1d24;
    border-color: #ed1d24;
}
/* end service */


/* start choose us*/
.choose-us img{
	max-width: 100%;
}
.choose-us .info{
	padding: 0;
}
.choose-us .info:last-child{
	background-color: #08526d;
	color: #fff;
	padding-top: 50px;
}
.choose-us .h1{
	margin: 40px;
}
.choose-us p{
	margin: 40px;
	line-height: 2;
	font-size: 18px;
}
.choose-us .read-more{
	display: inline-block;
	padding: 8px 20px;
	margin: 0 0 0 40px;
	background-color: #ed1d24;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
/* end choose us*/

/* start statistcs */
	
.stats{
	padding: 100px 0;
	color: #08526d;
}
.stats .stats-box{
	margin-bottom: 40px;
}
.stats .number{
	display: block;
	font-size: 50px;
	font-weight: bold;
}
.stats p {
	color: #ed1d24;
	font-size: 20px;
	font-weight: bold;
}
/* end statistcs */

/* start contact us */
.contact-us{
		padding: 60px 0;
		background-color: #ed1d24;
		color: #FFF;
		font-size: 22px;
}
.contact-us p{
	margin: 0;
}
.contact-us a {
	color: #FFF;
	border: 2px solid #FFF;
	padding: 6px 15px 5px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
/* end contact us */

/* start footer */
.footer {
	padding: 100px 0;
}
.footer .site-info span {
	font-size: 50px;
}
	.footer .site-info span:first-of-type {
		color: #08256d;
		font-weight: bold;
}
.footer .site-info span:last-of-type {
		color: #ec1c23;
		font-weight: bold;
}
.footer .site-info p{
	line-height: 1.8;
	color: #727272;
}
.footer .site-info a{
	color: #08526d;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.footer .site-info i{
	color: #08526d;
	display: inline-block;
	margin-right: 5px; 
}
.footer .helpful-links h2, .footer .contact h2{
	font-size: 20px;
	font-weight: bold;
	color:#08526d;
	margin-bottom: 68px;
}
.footer .helpful-links ul i{
	margin-right: 5px;
	color: #08526d;
	font-size: 10px;
	position: relative;
	top: -1px;
}
.footer .contact ul li {
	margin-bottom: 45px;
}
@media(max-width: 992px;){
	.footer .helpful-links h2,
	.footer .contact h2 {
		margin-bottom: 10px;
		margin-top: 20px;
	}
}
/* end footer */

/* start copyright */

.copyright{
	border-top: 1px solid #333;
	padding: 20px;
}
.copyright ul{
	margin: 0;
}
.copyright ul li {
	display: inline-block;
	color: #777;
	margin-left: 20px;
	font-size: 18px;
}
.copyright ul li a{
	color: #777;
}
/* end copyright */